*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    width: 30%;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    justify-content: space-around;
}

.navbar ul li{
    display: flex;
    flex-direction: column;
}
.navbar a {
    text-decoration: none;
    color : black
}