*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: rgb(244, 243, 243);
}
.navbar{
    justify-content: center;
    width: 40%;
    
}
.mohammed{
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
nav img{
    display: flex;
    height: 50px;
}
.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: space-around;
}

.navbar ul li{
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(222, 222, 222);
    padding: 10px;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    color : rgb(156, 153, 153);
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}
li img {
    height: 50px;
    width: 60px;
    margin-left: 28px;
}
.presentation{
    width: 100%;
    background-size:cover;
}
/*MAIN*/
.container1{
    margin: 0px 120px;
}
.container1 h2{
    text-align: center;
    color: rgb(21, 154, 243);
    padding: 50px 50px 0px 50px;
}
.ligne{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}   
.trait{
    border-top: 4px rgb(15, 213, 248) solid;
    border-radius: 10px;
    width: 60px;
}

.container1 p {
    color : #6c6b6b;
    font-weight: 300px;
    font-size: 18px;
    margin: 0px 30px 0px 70px;
    height: 100px;
}
.actu{
    display: flex;
}
.container1 .actu img{
    height: 380px;
    width: 600px;
}
.para{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.container2 h2 {
    color: red;
    text-align: center;
    padding: 30px 30px 0px 30px;   
}
h4{
    color:rgb(28, 153, 175);
    text-align: center;
    padding: 20px;
}
#direction1, #direction2{
    border: 1px rgb(15, 213, 248) solid;
    width: 400px;
}
.container_direction{
    display: flex;
    justify-content: space-around;
}
.direction{
    display: flex;
}
.explication{
    flex-direction: column;
    text-align: center;
    line-height: 20px;
}

.container_responsable{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}
.responsable{
    width: 350px;
    display: flex;
    height: 200px;
}

#responsable1 , #responsable2 , #responsable3{
    border: 1px rgb(15, 213, 248) solid;
}
